/* Mobile */
@media only screen and (max-width: 768px) {
    html {
        position: relative;
    }

    .container {
        overflow: hidden;
        padding: 0 16px;
    }

    nav {
        order: -1;
        display: none;
        position: relative;
    }

    .logo-menu {
        display: block;
        position: absolute;
        width: 100px;
        z-index: 3;
        left: 0;
        top: 0;
    }

    .nav .close {
        position: fixed;
        z-index: 9;
        top: 10px;
        left: 270px;
        color: #000;
    }

    .show-menu {
        display: block;
    }

    nav ul {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 300px;
        background-color: #91ad41;
        padding: 16px 0;
    }

    nav ul li {
        position: relative;
        padding: 8px 0;
    }

    nav ul li::before {
        content: "";
        position: absolute;
        top: 0;
        right: 40px;
        height: 1px;
        width: 80%;
        background: rgba(235, 235, 235, 0.302);
    }

    nav ul li a {
        color: #fff;
    }

    nav ul li:hover a:not(.subnav a),
    .main-subnav:hover {
        color: #000;
    }

    .main-subnav {
        position: relative;
    }

    .main-subnav .down {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        display: block;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-style: normal;
        color: #fff;
    }

    .subnav {
        position: relative;
        top: 0;
        left: 0;
        border: none;
        z-index: 1;
        background-color: transparent;
        box-shadow: none;
    }

    .subnav li {
        margin: 0;
        margin-left: 16px;
        animation: none;
        background-color: transparent;
    }

    .main-subnav:hover .subnav {
        display: block;
    }

    .active {
        color: #fff !important;
    }

    .bar,
    .nav .close {
        display: block;
    }

    .nav .close {
        color: #fff;
    }

    .bar .menu {
        color: #91ad41;
        font-size: 24px;

    }

    .collection {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-us {
        max-width: 100%;
    }

    .about-us p {
        padding: 0 80px;
    }

    .about-us .icon-body {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-us .icon-body .icon-item {
        margin-top: 16px;
    }

    .product-filters li {
        margin: 8px 16px;
    }

    .product-grid,
    .grids {
        grid-template-columns: 1fr;
    }

    .lastest-news-container {
        grid-template-columns: 1fr;
    }

    .brand {
        grid-template-columns: repeat(3, 1fr);
    }

    .sign-content {
        max-width: 100%;
        padding: 0 16px;
        flex-direction: column;

    }

    .sign-content h3 {
        font-size: 30px;
        /* flex: 1; */
        width: auto;
        margin-top: 30px;
    }

    .sign-content form {
        width: 400px;
        /* flex: 1; */
        margin-top: 16px;
    }

    .footer-links {
        grid-template-columns: none;
    }

    .footer .footer-list:not(:first-child) {
        display: none;
    }

    .footer .footer-list:not(:first-child).show-list {
        display: block;
    }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {}

/* PC */
@media only screen and (min-width: 1024px) {}